body {
	top: 0;
	left: 0;
	right: 0;
	font-family: sans serif;
}

img {
	height: 280px;
}

article {
	padding: 10px;
}

#navbar {
	overflow: hidden;
	background-color: #111;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 58px;
}

/******TMDB*******/
#tmdbSearch input[type=text] {
	background-color: white;
	height: 28px;
	border: none;
	border-bottom: 2px solid white;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 60px;
	left: 0;
	text-align: center;
}

#tmdbSearch input[type=submit] {
	min-width: 100px;
	width: 5%;
	height: 32px;
	overflow: hidden;
	position: fixed;
	top: 60px;
	right: 0;
	background-color: #E8E8E8;
	border: 2px solid #E8E8E8;
	color: grey;
	font-weight: bold;
}

#selected {
	display: none;
	box-sizing: border-box;
	background-color: rgba(160, 160, 160, 0.9);
	border: 1px solid #DADADF;
	border-radius: 4px;
	position: fixed;
	right: 0;
	top: 90px;
	width: 100%;
	min-height: 350px;
	overflow: hidden;
}

#movieList img {
	margin: 25px;
	margin-bottom: 0px;
	box-shadow: 0px 0px 5px 0px #4f4f4f;
	max-width: 200px;
	height: 280px;
}

#open {
	display: block;
	position: fixed;
	top: 90px;
	left: 0;
	padding: 0px;
	width: 100%;
	height: 25px;
	text-align: center;
	background-color: #F4F4F4;
	border: none;
	font-size: 40px;
}

#close {
	position: absolute;
	width: 100%;
	height: 25px;
	bottom: 0;
	text-align: center;
	background-color: rgba(160, 160, 160, 0.8);
	border: none;
	font-size: 40px;
}

#youtubeSearch input[type=submit] {
	height: 60px;
	float: right;
	top: 0;
	background-color: transparent;
	border: none;
	color: white;
	font-weight: bold;
}

#movies {
	margin-top: 90px;
	padding: 20px;
	box-sizing: border-box;
	display: table;
}

.movie {
	width: 32%;
	float: left;
}

.box {
	box-shadow: 0px 0px 5px 0px #D2D2D2;
}

.row {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 280px;
	margin: auto;
	align-items: center;
	background-color: white;
	margin-top: 20px;
}

.col1 {
	width: 17%;
	min-width: 190px;
	overflow: hidden;
}

.col2 {
	width: 930px;
	overflow: hidden;
}

.add {
	padding: 30px;
	width: 100%;
	border-style: none;
	color: #F1401B;
	font-weight: bold;
	background-color: white;
	border-top: 1px solid #D2D2D2;
	background-color: white;
	padding-right: 20px;
}

/*YoutubeResults*/
#iframe {
	display: none;
	max-width: 854px;
	max-height: 480px;
	margin: auto;
	margin-top: 80px;
}

.save {
	display: none;
	width: 20%;
	height: 40px;
	min-width: 80px;
	margin: auto;
	margin-top: 10px;
	background-color: #111;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-weight: bold;
}

.select {
	position: absolute;
	border: 2px solid #111;
	box-shadow: 0px 0px 5px 0px #4f4f4f;
	background-color: #111;
	align-items: center;
	display: flex;
	box-sizing: border-box;
	bottom: 10px;
	width: 100%;
	left: 0;
	color: #FFF;
}

.select img {
	display: none;
	margin: 10px;
	width: 190px;
	height: auto;
}

#return {
	height: 60px;
	float: left;
	top: 0;
	background-color: transparent;
	border: none;
	color: white;
	font-weight: bold;
	padding-left: 10px;
}

#searchBtn {
	height: 40px;
	float: right;
	top: 0;
	background-color: transparent;
	border: none;
	color: white;
	font-weight: bold;
	padding-right: 10px;
}

/**footer**/
footer {
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	background-color: #111;
}

footer a {
	color: #FFF;
	text-decoration: none;
}

footer table {
	margin: auto;
}

footer td {
	padding: 15px;
}

#formSearch {
	margin: auto;
	width: 100%;
	text-align: center;
}

#formSearch input[type=text] {
	width: 30%;
	min-width: 200px;
	margin: 10px;
	margin-top: 10px;;
	padding: 10px;
}

#formSearch input[type=submit] {
	margin: 10px;
	padding: 10px;
}

