<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>TMDBSearchController</display-name>
		<servlet-name>TMDBSearchController</servlet-name>
		<servlet-class>aiss.controller.TMDBSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TMDBSearchController</servlet-name>
		<url-pattern>/tmdbsearchcontroller</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>YoutubeSearchController</display-name>
		<servlet-name>YoutubeSearchController</servlet-name>
		<servlet-class>aiss.controller.YoutubeSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YoutubeSearchController</servlet-name>
		<url-pattern>/youtubesearchcontroller</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DriveFilePostController</servlet-name>
		<servlet-class>aiss.controller.DriveFilePostController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DriveFilePostController</servlet-name>
		<url-pattern>/DriveFilePostController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoogleDriveListingServlet</servlet-name>
		<servlet-class>aiss.controller.DriveFileListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleDriveListingServlet</servlet-name>
		<url-pattern>/googleDriveListing</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DriveFileDelete</servlet-name>
		<servlet-class>aiss.controller.DriveFileDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DriveFileDelete</servlet-name>
		<url-pattern>/GoogleDriveFileDelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DriveFileUpdate</servlet-name>
		<servlet-class>aiss.controller.DriveFileUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DriveFileUpdate</servlet-name>
		<url-pattern>/GoogleDriveFileUpdate</url-pattern>
	</servlet-mapping>

	<!-- Servlet de Google -->
	<servlet>
		<servlet-name>GoogleDriveFileNew</servlet-name>
		<servlet-class>aiss.controller.DriveFileNew</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleDriveFileNew</servlet-name>
		<url-pattern>/GoogleDriveFileNew</url-pattern>
	</servlet-mapping>
	<!-- Google Drive OAuth Servlets -->
	<servlet>
		<description></description>
		<display-name>GoogleDriveAuthController</display-name>
		<servlet-name>GoogleDriveAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>GoogleDrive</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleDriveAuthController</servlet-name>
		<url-pattern>/AuthController/GoogleDrive</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoogleDriveOAuth2Callback</display-name>
		<servlet-name>GoogleDriveOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>GoogleDrive</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/index.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleDriveOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/GoogleDrive</url-pattern>
	</servlet-mapping>
	<!-- All REST resources will be prefixed by /api -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>

	<!-- Servlets -->
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>aiss.api.SpotyGo</param-value>
		</init-param>
	</servlet>

	<!-- Servlet mappings -->
	<!-- All calls to /api/xxx will be sent to the resteasy servlet -->
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
</web-app>